.container{
background-color: rgb(19, 19, 59);
width: 100vw;
height: 100vh;
}

.medio{
    display: flex;
    flex-direction: row;
    height: 70vh;
}
.horca{
    width: 50vw;
}
.palabra{
    background-color: black;
    width: 50vw;
    text-align: center;
    
}
