.container {
    height: 100 vh;
    width: 100 vw;
    background-color: rgb(19, 19, 59);
}

.palab {
    color: white;
    text-align: center;
}

.boton {
    color: red;
    text-align: center;
}

